<i class="fa fa-chevron-left fa-lg back left"> <%= link_to 'Back', tickets_path %></i>

<div class="center-entry-content">
	<h1 class="entry-title">Editing Task</h1>
	<%= render "form"%>
	<p class="entry-content right">
		<%= link_to 'Back', tickets_path %>
	</p>
</div>