<h1 class="entry-title">Welcome to Thoughtrack</h1>

  <div class="row">

<div class="col-md-6">

<h2 class="entry-content">
<i class="fa fa-ticket fa-2x"><%= link_to 'Tickets', tickets_path %></i>
</h2>
<h2 class="entry-content">
<i class="fa fa-pencil fa-2x"><%= link_to 'Edit Priorities', priorities_path if current_user.app_admin? %></i>
</h2>
</div>
<div class="col-md-6">


<h2 class="entry-content">
<i class="fa fa-times fa-2x"><%= link_to 'Closed Tickets', home_path(1)%></i>
</h2>


</div>
</div>
